{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}my infomation{% endblock %}
{% block contain %}
<div class='row text-center vertical-middle-sm'>
	<div class='row'>
	<div class='col-md-6'>
		<h1>我的信息</h1>
		<p>用户名：{{ user.username }}</p>
		<p>邮箱：{{ user.email }}</p>
		<p>电话：{{ userprofie.phone }}</p>
		<p>毕业院校：{{ userinfo.school }}</p>
		<p>职业：{{ userinfo.profession }}</p>
		<p>个人介绍：{{ userinfo.aboutme }}</p>
		<p><a href='{% url 'account:edit_my_infomation' %}'>修改个人信息</a></p>
	</div>
	<div class='col-md-6'>
	<div style='margin-right:100px'>
		{% if userinfo.photo %}
		<img src='{{ userinfo.photo | striptags }}' class='img-circle' id='my_photo' name='user_face'>
		{% else %}
		<img name='user_face' src='{% static '/images/luhan.jpg' %}' class='img-circle' width='170px' id='my_photo'></div>
		{% endif %}
	</div>
	<div style='margin-right:100px'><button class='btn btn-primary btn-lg' id='upload_image' onclick='upload_image_layer()'>上传照片</button></div>
	</div>
	</div>
<script type='text/javascript' src='{% static 'js/jquery.js' %}'></script>
<script type='text/javascript' src='{% static 'js/layer.js' %}'></script>
<script>
	function upload_image_layer(){
		layer.open({
			title:'上传头像',
			area:['600px','550px'],
			type:2,
			content:'{% url 'account:my_image' %}',
		});
	}
</script>
</div>
{% endblock %}
