{% extends 'base.html' %}
{% block title %}change password{% endblock %}
{% block contain %}
<div align='center'>
	<h1>修改密码</h1>
	<form class='form-horizontal' action='.' method='post'>{% csrf_token %}
		 <label>{{ form.old_password.label_tag }}</label>
		 {{ form.old_password }}<br/><br/>
		 <label>{{ form.new_password1.label_tag }}</label>
		 {{ form.new_password1 }}<br/><br/>
		 <label>{{ form.new_password2.label_tag }}</label>
		 {{ form.new_password2 }}<br/><br/>
		<input type='submit' value='确认修改'>
	</form>
</div>
{% endblock %}
