{% extends "base.html" %}
{% block title %}change password{% endblock %}
{% block contain %}
<div class='row text-center vertical-middle-sm'>
<h1>Change password</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
{% if form.new_password1.help_text %}
	<p>{{ form.new_password1.help_text|safe }}</p>
{% endif %}
<form class='form-horizontal' action='.' mothod='post'>{% csrf_token %}
	<label>{{ form.old_password.label_tag }}</label>
	<p>{{ form.old_password }}</p>
	<label>{{ form.new_password1.label_tag }}</label>
	<p>{{ form.new_password1 }}</p>
	<label>{{ form.new_password2.label_tag }}</label>
	<p>{{ form.new_password2 }}</p>
	<input type='submit' value='Change my password' class='btn btn-primary btn-lg'/>
	</form>
</div>
{% endblock %}
