{% extends "base.html" %}
{% block title %}change password{% endblock %}
{% block contain %}
<div class='row text-center vertical-middle-sm'>
	<h1>Change password</h1>
	<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
	<form class='form-horizontal' action='.' mothod='post'>{% csrf_token %}
		<p>请输入原始密码{{ form.old_password }}</p>
		<p>请输入新密码{{ form.new_password1 }}</p>
		<p>请确认新密码{{ form.new_password2 }}</p>
		<input type='submit' value='Change my password'/>
	</form>
</div>
{% endblock %}
